@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

body {
    background: #28222e;
}

section {
    margin: 5em 10% 3em;
    padding: 2em;
    background: #121212;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-wrap: break-word;
}

h1 {
    text-align: center;
}

input {
    background: #121212;
    border-radius: 1em;
    border: .25em solid #fff;
}